@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";


html {
background-color: #0A2540;
overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}