@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";

*{
  overflow-x: hidden;
}

html {
background-color: #0D0630;
overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}